{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>LISTE DES FORMATIONS</h1>
    <a href="#">AJOUTER UNE FORMATION</a>
    {% if formations %}
        <table>
            <thead>
                <tr>
                    <th>Formation</th>
                    <th>Sessions</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                    <tr>
                        <td><a href="{{ path('show_formation', { 'id' : formation.id }) }}">{{ formation }}</a></td>
                        <td>{{ formation.sessions | length }}</td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
