*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/**************************/
/* La barre de navigation */
/**************************/
nav{
    background-color: #4f4f4f;
    height: 8vh;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    height: 8vh;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0 2vw;
}
nav a:hover{
    background-color: #7c9c85;
}

/***********************/
/* L'affichage du site */
/***********************/
body{
    background-color: #dbdbdb;
}

/**********************/
/* Le titre des pages */
/**********************/
h1{
    margin: 3vh 0;
}

/******************************/
/* Les formulaires en général */
/******************************/
form{
    background-color: #4f4f4f;
    color: #fff;
}

/*******************************************************************/
/* La barre de navigation en fonction de si on est connecté ou pas */
/*******************************************************************/
.connecte{
    justify-content: space-between;
}
.deconnecte{
    justify-content: center;
}

/*******************************/
/* Le lien pour se deconnecter */
/*******************************/
.texteDeconnection{
    color: #ff5555;
}
.texteDeconnection:hover{
    color: #fff;
}

/***************************************************************/
/* La partie principale de la page sans la barre de navigation */
/***************************************************************/
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/**************************************/
/* Les formulaires liés à la sécurité */
/**************************************/
.securite{
    width: 50vw;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.securite h2{
    margin: 2vh 0;
}

/************************************************************/
/* Une ligne du formulaire qui contient le label et l'input */
/************************************************************/
.ligneFormulaire{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vh 0;
}
.ligneFormulaire label{
    margin-left: 0.5vw;
    margin-bottom: 0.5vh;
    font-weight: 500;
}
.ligneFormulaire input{
    align-self: normal;
    height: 4vh;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/***************************************************/
/* La partie avec la case pour accepter les règles */
/***************************************************/
.accepterRegles{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accepterRegles input[type="checkbox"]{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}
.accepterRegles label{
    margin-left: 0.5vw;
    cursor: pointer;
    font-weight: 500;
}