{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}
    <div class="page">
        <h1 class="titrePage">LISTE DES FORMATEURS</h1>
        <a href="{{ path('add_formateur') }}" class="boutonAjout">AJOUTER UN FORMATEUR</a>
        {% if formateurs %}
            <table class="tableau">
                <thead>
                    <tr>
                        <th>Formateur</th>
                        <th>Sessions</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formateur in formateurs %}
                        <tr>
                            <td><a href="{{ path('show_formateur', { 'id' : formateur.id }) }}">{{ formateur }}</a></td>
                            <td>{{ formateur.sessions | length }}</td>
                            {% if formateur.sessions | length == 0 %}
                                <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
